.table_cell__nome {
    font-weight: bold;
}

.table_cell__custo {
    font-weight: bold;
}
.table_cell__custo:after {
    content: 'BRL';
    font-size: 10px;
    margin-left: 3px;
}

.table_cell__valorTick {
    font-weight: bold;
}
.table_cell__valorTick:after {
    content: 'BRL';
    font-size: 10px;
    margin-left: 3px;
}

.table_cell__ptsTick {
    font-weight: bold;
}
.table_cell__ptsTick:after {
    content: 'pts';
    font-size: 10px;
    margin-left: 3px;
}

.venc_container {
    display: flex;
    flex-grow: 1;
    height: 500px;

    .venc_tab_container {
        width: 100%;
        padding: 24px;
    }
}
