.tabs {
    min-height: 16px;

    .tab {
        min-height: 16px;
        padding: 8px 16px;
    }
}

.dg_header {
    font-weight: bold;

    &.no_border {
        border: 0;
    }

    &.align_bottom {
        vertical-align: bottom;
    }
}

.col_divider {
    border-left: 1px solid #dee2e6;
}

.col_subheader {
    font-size: 11px;
}
