.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper_with_container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.not_found_content {
    width: 100px;
}

.text {
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 600;
}

.text_bold {
    font-weight: bold;
}

.text_color_black {
    color: #3e5060 !important;
}

.text_small {
    font-size: 0.9rem;
}

.text_padding_1 {
    padding: 8px;
}

.text_padding_2 {
    padding: 16px;
}

.empty_text {
    color: rgba(0, 0, 0, 0.4);
}
