.greetings_panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 8px 0 8px;

    .greetings_user {
        font-size: 1rem;
    }

    .dash_place {
        font-size: 0.9rem;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.4);
        align-self: center;
    }
}

.filter__compara {
    display: flex;
    justify-content: center;
    align-items: center;

    .filter__compara_label {
        white-space: nowrap;
        font-weight: bold;
        line-height: 0;
        color: #555;
    }
}
