.obs_container {
    padding-left: 0;
}

.obs_item:hover {
    background-color: #e9ecef;
}

.obs_item__selected {
    background-color: #dbddde !important;
}

.obs__ref {
    font-weight: bold;
}

.obs__nome {
}
