.wrapper {
    max-height: calc(100vh - 16px);
    flex-grow: 1;
    padding: 16px 16px 16px 0;
}

.form_panel {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .form_container {
        width: 75%;
    }
}
