.table_cell__nome {
    font-weight: bold;
}

.table_cell__dataCriacao {
    font-weight: bold;
    color: #6c757d;
}

.table_cell__dataAtualizacao {
    font-weight: bold;
    color: #6c757d;
}

.table_cell__qtdOps {
    font-weight: bold;
}
