.u_container {
    display: flex;
}

.u_input {
    width: 100%;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px;
    flex: 1;
    border-radius: 4px;
    color: #1a2027;
    background: #fff;
    border: 1px solid #e0e3e7;
    box-shadow: 0px 2px 2px #f3f6f9;

    &:hover {
        border-color: #1976d2;
    }

    &:focus {
        border-color: #1976d2;
        outline: 1px solid #80bfff;
    }

    &:disabled {
        border-color: #e0e3e7;
        background-color: #e9ecef;
    }
}

.textAlign__center {
    text-align: center;
}

.inputSize__small {
    line-height: 0;
    padding: 8px;
}

.inputSize__tiny {
    line-height: 0;
    padding: 7px;
    font-size: 0.8rem;
}
