.nav_container {
    background: linear-gradient(0deg, #222, #4a3d8c);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #fff;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.nav_header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_logo {
    width: 140px;
}

.nav_divider {
    background: hsla(0, 0%, 100%, 0.5);
}

.nav_button svg {
    color: #ebf0f5;
}
