.letter {
    font-weight: 600;
}
.letter_current {
    color: #388e3c !important;
}

.separator {
    margin-left: 5px;
    margin-right: 5px;
}

.date {
    font-weight: 700;
    font-size: 0.75em;
    text-transform: capitalize;
    letter-spacing: 0.05em;

    .daylish {
        margin-left: 3px;
    }

    .daylish::after {
        content: 'th';
        font-size: 9px;
    }
}
