.row_container {
    cursor: pointer;
    align-items: center;

    .row_input {
        width: 25%;
    }

    .row_chip {
        font-weight: bold;
        border-radius: 8px;
    }

    .row_chip__added {
        color: #2e7d32 !important;

        svg {
            color: #2e7d32 !important;
        }
    }

    .row_chip__deleted {
        color: #d32f2f !important;

        svg {
            color: #d32f2f !important;
        }
    }

    .row_button__last {
        margin-left: auto !important;
    }
}

.collapsed_container {
    margin: 16px 8px 8px 8px;
}

.table_cell__ref {
    width: 10%;
}

.table_cell__nome {
}

.table_cell__delete {
    width: 10%;
}
