.row_container {
    cursor: pointer;
    align-items: center;
}

.collapsed_container {
    margin: 16px 8px 8px 8px;
}

.table_cell__ref {
    width: 10%;
}

.table_cell__nome {
}

.table_cell__delete {
    width: 10%;
}
